/* Elements */
* {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

p	{
	
}

h1 {
	
	
}


/* IDs */
#mainheader{
	
	font-family: 'Oswald', sans-serif;
	
	font-size: 5em;
	text-align: center;
	
}


/* Classes */
.main {
	font-family: 'Open Sans', sans-serif;
	word-spacing: 0.05em;
	line-spacing: 0em;
	
}