/* Elements */
* {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

p	{
	font-family: Arial;
}

h1 {
	
	
}


/* IDs */
#mainheader{
	
	font-family: 'Oswald', sans-serif;
	word-spacing: 0.05em;
	
}


/* Classes */
.main {
	font-family: 'Open Sans', sans-serif;
	line-spacing: 0em;
	
}